.formContainer {
    background-color: rgb(76, 73, 69);
    padding: 20px;
}

.formControl {
    padding: 8px;
}

.formControl label {
    font-weight: bold;
    padding-right: 20px;
}

.formContainer input {
    padding: 8px;
    border:none;
}

.button {
    background-color: darkolivegreen;
    color: white;
    margin-top: 20px;
}