/* Herre we are directly targeting a html ELEMENT */

/* header {
    background-color: blue;
} */


.header-container{
    background: blueviolet;
}

.nav-container {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: flex-end;
}